<html> <!-- anything with {% command %} or {{call}} is Jinja2 the templating language for Python web dev-->
    <head>
        {% if title %}
        <title>{{title}} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>Microblog: 
            <a href="{{ url_for('index') }}">Home</a>  <!--a Flask function imported to views.py -->
            {% if g.user.is_authenticated() %}    <!--g is a Flask global, assigned to a Flask-Login global which has-a db method -->
            | <a href="{{ url_for('user', nickname = g.user.nickname) }}">Your Profile</a> <!-- also needs the nickname argument -->
            | <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>

        <hr>
        {% with message = get_flashed_messages() %} <!--a Flask function imported to views.py -->
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
